<form [formGroup]="Animal" (ngSubmit)="onSubmit()">
  <label for="animal-name">Animal name: </label>
  <input id="animal-name" type="text" formControlName="animalName" required>

  <label for="specie-name">Specie: </label>
  <input id="specie-name" type="text" formControlName="Specie">

  <label for="description">Description: </label>
  <input id="description" type="text" formControlName="Description">

  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!Animal.valid">Submit</button>
</form>

<hr>

<p>Form Value: {{ Animal.value | json }}</p>

<p>Form Status: {{ Animal.status }}</p>