<div class="center-container">
    <div class="form-wrapper">
      <div class="left-column">
        <form (ngSubmit)="onSubmit()" class="form-group">
          <label>
            Category:
            <select name="category" [(ngModel)]="formData.category">
              <option value="animal">Animal</option>
              <option value="plant">Plant</option>
              <option value="fungus">Fungus</option>
              <option value="insect">Insect</option>
            </select>
          </label>
          <label>
            Name:
            <input type="text" name="name" [(ngModel)]="formData.name">
          </label>
          <label>
            Specie:
            <input type="text" name="specie" [(ngModel)]="formData.species">
          </label>
          <label>
            Description:
            <input type="text" name="description" [(ngModel)]="formData.description">
          </label>
          <div class="location-group">
            <label>Location:</label>
            <div class="coordinates-group">
              <div class='containers-xyz'> 
                <label>X: </label>
                <input type="text" [value]="locationData?.latitude" disabled>
              </div>
              <div class='containers-xyz'>              
                <label>Y: </label>
                <input type="text" [value]="locationData?.longitude" disabled>
              </div>
            </div>
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
      
      <div class="right-column">
        <div class="image-preview">
          
          <div class="photo-container">
            <img [src]="photoData" *ngIf="photoData; else placeholderImage" alt="Photo Preview">
            <ng-template #placeholderImage>
              <img src="assets/camera-icon.png" alt="camera-icon">
            </ng-template>  
          </div>

            <button *ngIf="platform.is('cordova')" type="button" (click)="takePhoto()">Take a Photo</button>
            <button type="button" (click)="selectPhoto()">Select a Photo</button>
          
        </div>
      </div>
    </div>
    <button (click)="onLogout()" class="logout-button">Logout</button>
  </div>
  